{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block content %}
<h1>Clients</h1>

<div>
{% for client in client_list %}
    <div>
        <a href="/clients/{{ client.id }}/">{{ client}}</a>
    </div>
    <div>
        {{ client.contact_set.count }} Contacts
    </div>
{% empty %}
    No clients added.
{% endfor %}
</div>

{% if is_paginated %}
<div>
    {% if page_obj.has_previous %}
        <a href="/clients?page={{page_obj.previous_page_number }}">previous</a>
    {% endif %}
    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="/clients?page={{page_obj.next_page_number }}">next</a>
    {% endif %}

</div>
{% endif %}
{% endblock %}
