{% extends "base.html" %}

{% block title %}Contact - {{contact.full_name}}{% endblock %}

{% block content %}
<h1>{{contact}}</h1>

<div>
    <div class="row">
        <div class="col-md-4 text-right">Client:</div>
        <div class="col-md-8">
            <a href="/clients/{{ contact.client.id }}/">{{ contact.client }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-right">Name:</div>
        <div class="col-md-8">{{ contact.full_name }}</div>
    </div>
    <div class="row">
        <div class="col-md-4 text-right">Email:</div>
        <div class="col-md-8">{{ contact.email|default:"<i>No Email Provided</i>" }}</div>
    </div>
</div>
{% endblock %}
